/*!----------------INDEX.HTML------------------*/
*{
    margin: 0;
    padding: 0;
}
/*---------------HEADER----------------------!*/

.posicion nav {
    position: fixed;
}
.formato-letras a{
    font-size: 20px;
    font-weight: 800;
    color: aliceblue;
}
.formato-letras a:hover{
    color: aliceblue;
    text-shadow: 3px 3px 3px #413d3d;
}
.menu-color{
    background-color: rgb(83, 153, 110);
}
/*---------------MAIN----------------------!*/
body{
    padding-top: 55px;
}
.tarjetas h3{
    margin: 10px;
}
.separador {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.separador-texto {
    font-size: 25px;
    font-weight: bold;
    margin-right: 10px;
}

.linea{
    flex-grow: 1;
    border: none;
    border-top: 1px solid #000000;
}
.comida1 img{
    width: 370px;
    height: 370px;
    border-radius: 30px;
    margin: 10px;
}
.section1 .tarjetas div a{
    background-color: rgb(214, 154, 42);
    color: white;
    border-radius: 20px;
    padding: 6px;
    text-decoration: none
}
.section1 .tarjetas .tarjetas2{
    border-radius: 20px;
    background-color:rgb(83, 153, 110);
    border: 2px gray solid;
    width: 450px;
    height: 510px;
    text-align: center;
    margin: 20px;
}
.tarjetas div img{
    width: 370px;
    height: 370;
    border-radius: 30px;
    margin: 15px;
    margin-bottom: 17px;
}
.redes {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.section1 .tarjetas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.tarjetas div a:hover{
    padding: 11px;
    background-color: black;
}
.tarjetas div:hover{
    padding: 12px;
}
/*---------------FOOTER----------------------!*/
footer{
    background-color: rgb(83, 153, 110);
}
footer div img{
    width: 60px;
    height: 60px;
}
/*!----------------SESION.HTML------------------*/
/*---------------MAIN----------------------!*/
.section2 form{
    margin: 20px;
    border-radius: 20px;
    background-color: #bbb8b8;
}
.btn-primary{
    margin-bottom: 16px;
    margin-left: 13px;
}
.btn-primary:hover{
    background-color: #1d20ff;

}
/*!----------------COMOFUNCIONA.HTML------------------*/
/*---------------MAIN----------------------!*/
.como-funciona{
    text-align: center;
    margin-top: 60px;
}
.como-funciona h2{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 2px;
}
.como-funciona h3{
    font-size: 20px;
    font-weight: 1;
}
.como-funciona-1{
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    margin-right: 80px;
    margin-left: 80px;
}
.como-funciona-1 img{
    width: 600px;
}
.como-funciona-1 div{
    width: 70%;
    margin-left: 90px;
}
.como-funciona-1 p{
    font-size: 20px;
}
.como-funciona-1 h3{
    font-style: italic;
    font-weight: 800;
    font-size: 40px
}
.como-funciona-2{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #bbb8b8;
    border-radius: 40px;
    margin-bottom: 80px;
    margin-right: 80px;
    margin-left: 80px;
}
.como-funciona-2 img{
    width: 600px;
}
.como-funciona-2 div{
    width: 70%;
    margin-left: 90px;
}
.como-funciona-2 p{
    font-size: 20px;
}
.como-funciona-2 h3{
    font-style: italic;
    font-weight: 800;
    font-size: 40px
}
.como-funciona-3{
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    margin-right: 80px;
    margin-left: 80px;
}
.como-funciona-3 img{
    width: 600px;
}
.como-funciona-3 div{
    width: 70%;
    margin-left: 90px;
}
.como-funciona-3 p{
    font-size: 20px;
}
.como-funciona-3 h3{
    font-style: italic;
    font-weight: 800;
    font-size: 40px
}
/*!----------------QUIENES SOMOS.HTML------------------*/
/*---------------MAIN----------------------!*/
.quienes-somos{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.quienes-somos h2{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 2px;
}
.quienes-somos h3{
    font-size: 20px;
    font-weight: 1;
}
.quienes-somos-1{
    display: flex;
    align-items: center;
    background-color: #bbb8b8;
    border-radius: 40px;
    margin-bottom: 80px;
    margin-right: 80px;
    margin-left: 80px;
}
.quienes-somos-1 img{
    width: 450px;
}
.quienes-somos-1 div{
    width: 70%;
    margin-left: 90px;
}
.quienes-somos-1 p{
    font-size: 20px;
}
.quienes-somos-1 h3{
    font-style: italic;
    font-weight: 800;
    font-size: 40px
}
.quienes-somos-2{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 80px;
    margin-right: 80px;
    margin-left: 80px;
}
.quienes-somos-2 img{
    width: 450px;
    border-radius: 50px;
}
.quienes-somos-2 div{
    width: 70%;
    margin-left: 90px;
}
.quienes-somos-2 p{
    font-size: 20px;
}
.quienes-somos-2 h3{
    font-style: italic;
    font-weight: 800;
    font-size: 40px
}
.quienes-somos-3{
    display: flex;
    align-items: center;
    background-color: #bbb8b8;
    border-radius: 40px;
    margin-bottom: 80px;
    margin-right: 80px;
    margin-left: 80px;
    padding: 20px;
}
.quienes-somos-3 img{
    width: 450px;
    border-radius: 50px;
}
.quienes-somos-3 div{
    width: 70%;
    margin-left: 90px;
}
.quienes-somos-3 p{
    font-size: 20px;
}
.quienes-somos-3 h3{
    font-style: italic;
    font-weight: 800;
    font-size: 40px
}
.quienes-somos-4{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 80px;
    margin-right: 80px;
    margin-left: 80px;
}
.quienes-somos-4 img{
    width: 450px;
    border-radius: 50px;
}
.quienes-somos-4 div{
    width: 70%;
    margin-left: 90px;
}
.quienes-somos-4 p{
    font-size: 20px;
}
.quienes-somos-4 h3{
    font-style: italic;
    font-weight: 800;
    font-size: 40px
}
.quienes-somos-5{
    display: flex;
    align-items: center;
    background-color: #bd9e65;
    border-radius: 40px;
    margin-bottom: 80px;
    margin-right: 80px;
    margin-left: 80px;
    padding: 20px;
}
.quienes-somos-5 img{
    width: 450px;
    border-radius: 50px;
}
.quienes-somos-5 div{
    width: 70%;
    margin-left: 90px;
}
.quienes-somos-5 p{
    font-size: 20px;
}
.quienes-somos-5 h3{
    font-style: italic;
    font-weight: 800;
    font-size: 40px
}
/*---------------GRIDS----------------------!*/
.grilla h3{
    margin-bottom: 20px;
    text-align: center;
    font-style: italic;
    font-weight: 800;
    font-size: 40px
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 10px;
    padding: 40px;
    margin-bottom: 45px;
    margin-left: 45px;
    margin-right: 45px;
    background-color: #bbb8b8;
    border-radius: 20px;
}

.grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.grid-item:hover img {
    transform: scale(1.1);
}

.animacion {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item:hover .animacion {
    opacity: 1;
}
.animacion h4 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
/*!----------------media query------------------*/
/*------------------quienes somos---------------*/
@media screen and (max-width:1080px){
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 10px;
        padding: 40px;
        margin-bottom: 45px;
        margin-left: 45px;
        margin-right: 45px;
        background-color: #bbb8b8;
        border-radius: 20px;
    }
}
@media screen and (max-width:986px){
    .quienes-somos-1{
        display: flex;
        align-items: center;
        background-color: #bbb8b8;
        border-radius: 40px;
        margin-bottom: 80px;
        margin-right: 80px;
        margin-left: 80px;
        padding: 0px;
    }
    .quienes-somos-1 img{
        width: 350px;
    }
    .quienes-somos-1 p{
        font-size: 20px;
    }
    .quienes-somos-1 h3{
        font-style: italic;
        font-weight: 800;
        font-size: 40px
    }
    .quienes-somos-2{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        margin-bottom: 80px;
        margin-right: 80px;
        margin-left: 80px;
    }
    .quienes-somos-2 img{
        width:  350px;
        border-radius: 50px;
    }
    .quienes-somos-2 p{
        font-size: 20px;
    }
    .quienes-somos-2 h3{
        font-style: italic;
        font-weight: 800;
        font-size: 40px
    }
    .quienes-somos-3{
        display: flex;
        align-items: center;
        background-color: #bbb8b8;
        border-radius: 40px;
        margin-bottom: 80px;
        margin-right: 80px;
        margin-left: 80px;
        padding: 20px;
    }
    .quienes-somos-3 img{
        width: 350px;
        border-radius: 50px;
    }
    .quienes-somos-3 p{
        font-size: 20px;
    }
    .quienes-somos-3 h3{
        font-style: italic;
        font-weight: 800;
        font-size: 40px
    }
    .quienes-somos-4{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        margin-bottom: 80px;
        margin-right: 80px;
        margin-left: 80px;
    }
    .quienes-somos-4 img{
        width: 350px;
        border-radius: 50px;
    }
    .quienes-somos-4 p{
        font-size: 20px;
    }
    .quienes-somos-4 h3{
        font-style: italic;
        font-weight: 800;
        font-size: 40px
    }
    .quienes-somos-5{
        display: flex;
        align-items: center;
        background-color: #bd9e65;
        border-radius: 40px;
        margin-bottom: 80px;
        margin-right: 80px;
        margin-left: 80px;
        padding: 20px;
    }
    .quienes-somos-5 img{
        width: 350px;
        border-radius: 50px;
    }
    .quienes-somos-5 p{
        font-size: 20px;
    }
    .quienes-somos-5 h3{
        font-style: italic;
        font-weight: 800;
        font-size: 40px
    }
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
    padding: 40px;
    margin-bottom: 45px;
    margin-left: 45px;
    margin-right: 45px;
    background-color: #bbb8b8;
    border-radius: 20px;
}
}
@media screen and (max-width:894px){
    .quienes-somos-1{
        display: flex;
        flex-direction: column-reverse;
        background-color: #bbb8b8;
        border-radius: 40px;
        margin-bottom: 80px;
        margin-right: 80px;
        margin-left: 80px;
    }
    .quienes-somos-1 div{
        width: 90%;
        margin-right: 50px;
    }
    .quienes-somos-1 img{
        width: 350px;
    }
    .quienes-somos-1 p{
        font-size: 17px;
    }
    .quienes-somos-1 h3{
        font-style: italic;
        font-weight: 800;
        font-size: 30px
    }
    .quienes-somos-2{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 80px;
        margin-right: 80px;
        margin-left: 80px;
    }
    .quienes-somos-2 div{
        width: 90%;
        margin-right: 50px;
    }
    .quienes-somos-2 img{
        width:  350px;
        border-radius: 50px;
    }
    .quienes-somos-2 p{
        font-size: 17px;
    }
    .quienes-somos-2 h3{
        font-style: italic;
        font-weight: 800;
        font-size: 30px
    }
    .quienes-somos-3{
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #bbb8b8;
        border-radius: 40px;
        margin-bottom: 80px;
        margin-right: 80px;
        margin-left: 80px;
        padding: 20px;
    }
    .quienes-somos-3 div{
        width: 90%;
        margin-right: 50px;
    }
    .quienes-somos-3 img{
        width: 350px;
        border-radius: 50px;
    }
    .quienes-somos-3 p{
        font-size: 17px;
    }
    .quienes-somos-3 h3{
        font-style: italic;
        font-weight: 800;
        font-size: 30px
    }
    .quienes-somos-4{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 80px;
        margin-right: 80px;
        margin-left: 80px;
    }
    .quienes-somos-4 div{
        width: 90%;
        margin-right: 50px;
    }
    .quienes-somos-4 img{
        width: 350px;
        border-radius: 50px;
    }
    .quienes-somos-4 p{
        font-size: 17px;
    }
    .quienes-somos-4 h3{
        font-style: italic;
        font-weight: 800;
        font-size: 30px
    }
    .quienes-somos-5{
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #bd9e65;
        border-radius: 40px;
        margin-bottom: 80px;
        margin-right: 80px;
        margin-left: 80px;
        padding: 10px;
    }
    .quienes-somos-5 div{
        width: 90%;
        margin-right: 50px;
    }
    .quienes-somos-5 img{
        width: 350px;
        border-radius: 50px;
    }
    .quienes-somos-5 p{
        font-size: 17px;
    }
    .quienes-somos-5 h3{
        font-style: italic;
        font-weight: 800;
        font-size: 30px
    }
}
@media screen and (max-width:562px){
    .quienes-somos-1 img{
        width: 250px;
        border-radius: 50px;
    }
    .quienes-somos-2 img{
        width: 250px;
        border-radius: 50px;
    }
    .quienes-somos-3 img{
        width: 250px;
        border-radius: 50px;
    }
    .quienes-somos-4 img{
        width: 250px;
        border-radius: 50px;
    }
    .quienes-somos-5 img{
        width: 250px;
        border-radius: 50px;
    }
}
@media screen and (max-width:478px){
    .quienes-somos h2{
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 2px;
    }
    .quienes-somos h3{
        font-size: 15px;
        font-weight: 1;
    }
    .quienes-somos-1 img{
        width: 250px;
    }
    .quienes-somos-1 p{
        font-size: 15px;
        padding-right: 50px;
    }
    .quienes-somos-1 h3{
        font-style: italic;
        font-weight: 800;
        font-size: 25px
    }
    .quienes-somos-2 img{
        width: 250px;
    }
    .quienes-somos-2 p{
        font-size: 15px;
        padding-right: 50px;
    }
    .quienes-somos-2 h3{
        font-style: italic;
        font-weight: 800;
        font-size: 25px
    }
    .quienes-somos-3 img{
        width: 250px;
    }
    .quienes-somos-3 p{
        font-size: 15px;
        padding-right: 50px;
    }
    .quienes-somos-3 h3{
        font-style: italic;
        font-weight: 800;
        font-size: 25px
    }
    .quienes-somos-4 img{
        width: 250px;
    }
    .quienes-somos-4 p{
        font-size: 15px;
        padding-right: 50px;
    }
    .quienes-somos-4 h3{
        font-style: italic;
        font-weight: 800;
        font-size: 25px
    }
    .quienes-somos-5 img{
        width: 250px;
    }
    .quienes-somos-5 p{
        font-size: 15px;
        padding-right: 50px;
    }
    .quienes-somos-5 h3{
        font-style: italic;
        font-weight: 800;
        font-size: 25px
    }
}
@media screen and (max-width:439px){
    .quienes-somos-1 img{
        width: 200px;
        border-radius: 50px;
    }
    .quienes-somos-1 h3{
        font-style: italic;
        font-weight: 800;
        font-size: 20px
    }
    .quienes-somos-2 img{
        width: 200px;
        border-radius: 50px;
    }
    .quienes-somos-2 h3{
        font-style: italic;
        font-weight: 800;
        font-size: 20px
    }
    .quienes-somos-3 img{
        width: 200px;
        border-radius: 50px;
    }
    .quienes-somos-3 h3{
        font-style: italic;
        font-weight: 800;
        font-size: 20px
    }
    .quienes-somos-4 img{
        width: 200px;
        border-radius: 50px;
    }
    .quienes-somos-4 h3{
        font-style: italic;
        font-weight: 800;
        font-size: 20px
    }
    .quienes-somos-5 img{
        width: 200px;
        border-radius: 50px;
    }
    .quienes-somos-5 h3{
        font-style: italic;
        font-weight: 800;
        font-size: 20px
    }
}
@media screen and (max-width:411px){
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 10px;
        padding: 40px;
        margin-bottom: 45px;
        margin-left: 45px;
        margin-right: 45px;
        background-color: #bbb8b8;
        border-radius: 20px;
    }
    .grilla h3{
        margin-bottom: 20px;
        text-align: center;
        font-style: italic;
        font-weight: 800;
        font-size: 30px
    }
}
@media screen and (max-width:389px){
    .quienes-somos-1 img{
        width: 250px;
        border-radius: 50px;
    }
    .quienes-somos-2 img{
        width: 180px;
        border-radius: 50px;
    }
    .quienes-somos-3 img{
        width: 180px;
        border-radius: 50px;
    }
    .quienes-somos-4 img{
        width: 180px;
        border-radius: 50px;
    }
    .quienes-somos-5 img{
        width: 180px;
        border-radius: 50px;
    }
    .quienes-somos-5 h3{
        font-style: italic;
        font-weight: 800;
        font-size: 15px
    }
}
/*------------------index.html---------------*/
@media screen and (max-width:493px){
    .tarjetas div img{
        width: 300px;
        height: 300px;
        border-radius: 30px;
        margin: 15px;
        margin-bottom: 17px;
    }
    .tarjetas div{

        flex-direction: column;
    }
}
/*------------------como funcionamos---------------*/
@media screen and (max-width:1108px){
    .como-funciona-1 img{
        width: 450px;
    }
    .como-funciona-1 h3{
        font-weight: 800px;
        font-size: 35px
    }
    .como-funciona-2 img{
        width: 450px;
    }
    .como-funciona-2 h3{
        font-weight: 800px;
        font-size: 35px
    }
    .como-funciona-3 img{
        width: 450px;
    }
    .como-funciona-3 h3{
        font-weight: 800px;
        font-size: 35px
    }
}
@media screen and (max-width:934px){
    .como-funciona-1 img{
        width: 400px;
    }
    .como-funciona-1 h3{
        font-weight: 800px;
        font-size: 33px
    }
    .como-funciona-2 img{
        width: 400px;
    }
    .como-funciona-2 h3{
        font-weight: 800px;
        font-size: 33px
    }
    .como-funciona-3 img{
        width: 400px;
    }
    .como-funciona-3 h3{
        font-weight: 800px;
        font-size: 33px
    }
}
@media screen and (max-width:848px){
    .como-funciona-1{
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;
        margin-right: 80px;
        margin-left: 80px;
    }
    .como-funciona-1 div{
        width: 90%;
        margin-right: 50px;
    }
    .como-funciona-2{
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;
        margin-right: 80px;
        margin-left: 80px;
    }
    .como-funciona-2 div{
        width: 90%;
        margin-right: 50px;
    }
    .como-funciona-3{
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;
        margin-right: 80px;
        margin-left: 80px;
    }
    .como-funciona-3 div{
        width: 90%;
        margin-right: 50px;
    }
}
@media screen and (max-width:658px){
    .como-funciona-1 img{
        width: 350px;
    }
    .como-funciona-2 img{
        width: 350px;
    }
    .como-funciona-3 img{
        width: 350px;
    }
}
@media screen and (max-width:490px){
    .como-funciona h2{
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 2px;
    }
    .como-funciona h3{
        font-size: 17px;
        font-weight: 1;
    }
    .como-funciona-1 img{
        width: 280px;
    }
    .como-funciona-1 h3{
        font-size: 28px;
    }
    .como-funciona-1 p{
        font-size: 17px;
    }
    .como-funciona-2 img{
        width: 280px;
    }
    .como-funciona-2 h3{
        font-size: 28px;
    }
    .como-funciona-2 p{
        font-size: 17px;
    }
    .como-funciona-3 img{
        width: 280px;
    }
    .como-funciona-3 h3{
        font-size: 28px;
    }
    .como-funciona-3 p{
        font-size: 17px;
    }
}
@media screen and (max-width:446px){
    .como-funciona-1 img{
        width: 240px;
    }
    .como-funciona-1 h3{
        font-size: 25px;
    }
    .como-funciona-1 p{
        font-size: 15px;
    }
    .como-funciona-2 img{
        width: 240px;
    }
    .como-funciona-2 h3{
        font-size: 25px;
    }
    .como-funciona-2 p{
        font-size: 15px;
    }
    .como-funciona-3 img{
        width: 240px;
    }
    .como-funciona-3 h3{
        font-size: 25px;
    }
    .como-funciona-3 p{
        font-size: 15px;
    }
}
@media screen and (max-width:410px){
    .como-funciona-1 img{
        width: 208px;
    }
    .como-funciona-2 img{
        width: 208px;
    }
    .como-funciona-3 img{
        width: 208px;
    }
}
